.page-title {
  color: #164870;
}

.groups-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-btn {
  background: #5fa0e0;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
}

.create-form {
  display: none;
  margin-top: 15px;
  background: #dbe7f3;
  padding: 15px;
  border-radius: 10px;
  gap: 10px;
  align-items: center;
}

.create-form input {
  padding: 8px;
  border-radius: 6px;
  border: none;
}

.create-form button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.create-form button:first-child {
  background: #5fa0e0;
  color: white;
}

.groups-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 473px);
  gap: 25px;
}

.group-card {
  width: 473px;
  height: 264px;
  background: #c7ddea;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-card:hover {
  transform: scale(1.02);
}

.group-card h3 {
  color: #164870;
  font-size: 18px;
  font-weight: 600;
}

.group-card p {
  font-size: 14px;
  color: #164870;
}

.group-card span {
  font-weight: 500;
  color: #164870;
}